// Fonts Variables

$primaryFont: "Inter";

$bold: 700;
$semibold: 600;
$medium: 500;
$normal: 400;

// Colors Variables

$primaryColor: #253256;
$secondaryColor: #f79b58;

$mainBlack: black;

$black: #253256;
$white: white;

// Container Variables

$containerWidth1: 111.5rem;
$containerPadding: 1.25rem;
